*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Barlow', Arial, sans-serif;
  font-size: 1.6rem;
  min-height: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  transition: background-color 0.1s ease;
}

ul {
  padding-left: 2rem;
}

li {
  margin-bottom: 0.4rem;
}

img, svg {
  max-height: 100%;
  max-width: 100%;
}

header {
  display: block;
  padding-top: 1.2rem;
}

.is-dark {
  background-color: #000;
  color: #fafafa;
}

body.with-modal {
  overflow: hidden;
}

.container {
  padding: 0 1.2rem;
}

h1 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: bold;
}

p {
  line-height: 1.3;
}

button,
select,
input,
textarea {
  font-family: 'Barlow', Arial, sans-serif;
  font-size: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: block;
  color: #898989;
  text-align: center;
  font-size: 0.85em;
  padding-top: 1.6rem;
  padding-bottom: 3.2rem;
}

footer a,
footer a:visited,
footer a:hover,
footer a:focus,
footer a:active {
  color: #898989;
  text-decoration: underline;
}

.separator {
  margin: 0 0.4rem;
}

.loader {
  display: block;
  height: 4rem;
  color: #777;
  width: 4rem;
  margin: 25vh auto 30vh;
  animation: spin 2s infinite linear;
}

.no-ie-box {
  text-align: center;
  z-index: 9999;
  background-color: #f7b731;
  padding: 24px;
  position: fixed;
  width: 100%;
  color: #000;
  top: 0;
}

.error-message {
  background-color: #e83d3a;
  padding: 2.4rem 0;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.error-message-reload {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 520px) {
  header {
    padding-top: 1.6rem;
  }

  .container {
    padding: 0 1.6rem;
    max-width: 76rem;
    margin: 0 auto;
  }
}
